In [7]:
np.__version__

'1.21.5'

In [8]:
import pandas as pd
import numpy as np

df=pd.read_csv("data.csv")

print(df.shape)

(11914, 16)

In [9]:
df["Make"].value_counts().head(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

In [10]:
df[df['Make']=='Audi']['Model'].unique().shape

(34,)

In [13]:
l=list(df.isna().sum())
m=[i for i in l if i!=0]
print(len(m))

5

In [12]:
df["Engine Cylinders"].median()

6.0

In [15]:
df["Engine Cylinders"].mode()

0    4.0
Name: Engine Cylinders, dtype: float64

In [16]:
df["Engine Cylinders"].fillna(df["Engine Cylinders"].mode())

0        6.0
1        6.0
2        6.0
3        6.0
4        6.0
        ...
11909    6.0
11910    6.0
11911    6.0
11912    6.0
11913    6.0
Name: Engine Cylinders, Length: 11914, dtype: float64

In [17]:
df["Engine Cylinders"].median()

6.0

In [18]:
val = df[df['Make']=='Lotus']
val_col = val[['Engine HP','Engine Cylinders']]
x = np.array(val_col.drop_duplicates())
xtx = np.dot(x.T , x)
inverted_x = np.linalg.inv(xtx) 
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
w = np.dot(np.dot(inverted_x,x.T),y)
w[0]

4.594944810094576